body {
    padding-top: 68px;
    background-image: url("images/clash_of_the_ancients.png");
    background-position: center;
    background-size: 100%;
}

div.container, .navbar .container {
    display: table;
    height: 100%;
    width: 1080px;
}

.wrapper {
    display: table-cell;
    vertical-align: middle;
}

.content {
    margin-left: auto;
    margin-right: auto;
}

div.team {
    background-image: url("images/background.jpg");
    border-radius: 8px;
    border: 1px solid;
    padding: 0 10;
}

div.dire {
    float: left;
    border-color: #d5483f;
    box-shadow: 0 0 10px #d5483f;
}

div.radiant {
    float: right;
    border-color: #6b9fe8 ;
    box-shadow: 0 0 10px #6b9fe8;
}

input.dire:focus {
    border: 1px solid #d5483f;
    box-shadow: 0 0 10px #d5483f;
}

input.radiant:focus {
    border: 1px solid #6b9fe8;
    box-shadow: 0 0 10px #6b9fe8;
}

.dire .typeahead .active > a,
.dire .typeahead .active > a:hover {
    background-color: #d5483f;
    background-image: none;
}

.radiant .typeahead .active > a,
.radiant .typeahead .active > a:hover {
    background-color: #6b9fe8;
    background-image: none;
}

.dota {
    font-family: 'Marcellus SC', 'serif';
    font-weight: normal;
    color: #aaa19c;
}

.navbar .brand {
    font-family: 'Marcellus SC', 'serif';
    color: #aaa19c;
    text-shadow: none;
    float: none;
    padding: 0 65;
    margin: -5 0 0 0;
}

.navbar .logo {
    top: 8px;
    position: relative;
}

h1 {
    text-align: center;
}

input[type="text"] {
    height: 25px;
}

.navbar {
    background-image: url("images/navbar_background.jpg");
    background-repeat: repeat-x;
    height: 68px;
    width: 100%;
}

.navbar .navbar-inner {
    background-image: url("images/navbar.jpg");
    border-width: 0px;
    height: 68px;
    width: 100%;
}

.navbar .navbar-shadow {
    background-image: url("images/navbar_shadow.png");
    background-repeat: repeat-x;
    height: 29px;
    width: 100%;
}
