@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
	background-color:#010003;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/lowerglow_tile.png');
	background-position:center;
	background-repeat:repeat-y;
	text-align:center;
	color:#6f6f6f;
}

body, div, h1, h2, h3, h4, h5, span {
	font-family:arial,helvetica,sans-serif;
}

a {
	color:#adadad;
	text-decoration:none;
}

a:hover {
	color:#ffffff;
}

p {
	margin:0;
	padding:10px 0px;
}

img {
	border:none;
}

#intlHeader {
	height:377px;
	position:relative;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/headerbg.jpg');
	background-position:center;
	background-repeat:no-repeat;
}
#intlHeaderCenter {
	width:952px;
	height:377px;
	margin:0 auto;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/header_center.jpg');
	background-position:center;
	background-repeat:no-repeat;
	position:relative;
}
#intlHeaderMenu {
	position:absolute;
	width:896px;
	height:30px;
	top:327px;
	left:38px;
}
.mainMenuItem {
	float:left;
	display:block;
	height:30px;
	background-position:center;
}
.mainMenuItem:hover {
	background-position:top;
}
.menuOn {
	background-position:bottom;
}
#menu_international {
	width:241px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/menu_international.png');
	margin-right:12px;
}
#menu_players {
	width:144px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/menu_players.png');
	margin-right:12px;
}
#menu_news {
	width:152px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/menu_news.png');
	margin-right:12px;
}
#menu_news_disabled {
	width:152px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/menu_news_disabled.png');
	margin-right:12px;
}
#menu_prelims {
	width:124px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/menu_prelims.png');
	margin-right:12px;
}
#menu_prelims_disabled {
	width:124px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/menu_prelims_disabled.png');
}
#menu_mainevent {
	width:167px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/menu_mainevent.png');
}
#menu_mainevent_disabled {
	width:167px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/menu_mainevent_disabled.png');
}
#headerContentBridge {
	position:absolute;
	left:8px;
	bottom:0px;
	width:936px;
	height:20px;
}
#contentOuter {
	min-height:837px;
	position:relative;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/bodytopbg.jpg');
	background-position:top center;
	background-repeat:no-repeat;
}
#contentMid {
	min-height:837px;
	width:952px;
	margin:0 auto;
	position:relative;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/bodycentershadowbg.png');
	background-position:center;
	background-repeat:repeat-y;
}
#contentMid2 {
	min-height:837px;
	width:936px;
	margin:0 8px;
	position:relative;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/bodycenterbg.jpg');
	background-position:center;
	background-repeat:repeat-y;
}
#contentFooterOuter {
	min-height:187px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/footerouterbg.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	background-color:#010003;
	position:relative;
}
#contentFooterInner {
	min-height:187px;
	width:952px;
	margin:0 auto;
	position:relative;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/footerinnerbg.jpg');
	background-position:center;
	background-repeat:no-repeat;
}
#contentSubtabs {
	width:936px;
	height:43px;
	position:relative;
}
.subtab {
	float:left;
	display:block;
	height:43px;
	background-position:center;
}
.subtabOff:hover {
	background-position:top;
}
.subtabOn {
	background-position:bottom;
}
#subtab_overview {
	width:236px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/subtab_overview.jpg');
}
#subtab_waystowatch {
	width:232px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/subtab_waystowatch.jpg');
}
#subtab_attheevent {
	width:232px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/subtab_attheevent.jpg');
}
#subtab_format {
	width:236px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/subtab_format.jpg');
}
#subtab_watchlive {
	width:313px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/subtab_watchlive.jpg');
}
#subtab_schedule {
	width:309px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/subtab_schedule.jpg');
}
#subtab_results {
	width:314px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/subtab_results.jpg');
}
#subtab_pregames {
	width:313px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/subtab_pretournament.jpg');
}
#subtab_prelims {
	width:309px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/subtab_prelims.jpg');
}
#subtab_mainevent {
	width:314px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/subtab_mainevent.jpg');
}
#contentInnerWithSubtabs {
	width:936px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/bodytopcenter.jpg');
	background-position:top center;
	background-repeat:no-repeat;
	min-height:794px;
}
#overviewBanner {
	-webkit-box-shadow: 2px 4px 16px rgba(0, 0, 0, 1);
	-moz-box-shadow:    2px 4px 16px rgba(0, 0, 0, 1);
	box-shadow:         2px 4px 16px rgba(0, 0, 0, 1);
	width:884px;
	height:588px;
	margin-left:26px;
}
.vbreak24 {
	width:936px;
	height:24px;
}
#overviewCompendiumBase1 {
	width:927px;
	height:365px;
	margin:0;
	padding:0;
	position:relative;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/overview_compendium_base1.png');
	background-position:center;
	background-repeat:no-repeat;
}
#overviewCompendiumBase2 {
	position:absolute;
	width:878px;
	height:338px;
	top:14px;
	left:29px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/overview_compendium_base2.jpg');
	background-position:center;
	background-repeat:no-repeat;
}

#ocbPrizesLeft,#ocbPrizesRight {
	position:absolute;
	text-align:center;
	top:184px;
	font-weight:bold;
	color:#adadad;
	font-size:17px;
	line-height:26px;
}
#ocbPrizesUpdated {
	position:absolute;
	text-align:center;
	top:295px;
	left:371px;
	width:402px;
	font-size:11px;
	color:#426052;
}
	
.prizesUSD {
	font-size:12px;
}
#ocbPrizesLeft {
	left:358px;
}
#ocbPrizesRight {
	left:655px;
}
#overviewCompendiumButton {
	position:absolute;
	top:73px;
	left:450px;
	width:244px;
	height:62px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/overview_compendium_learnmore.png');
	background-position:top;
	background-repeat:no-repeat;
}
#overviewCompendiumButton:hover {
	background-position:bottom;
}
#overviewSubBoxLocation,#overviewSubBoxSchedule {
	width:434px;
	height:741px;
	float:left;
	position:relative;
	text-align:center;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/overview_subbox.jpg');
	-webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 1);
	-moz-box-shadow:    2px 4px 8px rgba(0, 0, 0, 1);
	box-shadow:         2px 4px 8px rgba(0, 0, 0, 1);
	font-size:14px;
	line-height:24px;
}
#overviewSubBoxLocation {
	margin-left:26px;
}
#overviewSubBoxSchedule {
	margin-left:16px;
}
#osbHeader {
	position:absolute;
	left:20px;
	top:18px;
}
#overviewBenaroya {
	display:block;
	padding-top:72px;
}
.dateBox {
	float:left;
	width:74px;
	height:30px;
	padding:9px 12px 18px 20px;
	clear:left;
}
.scheduleText {
	float:left;
	width:300px;
	font-size:14px;
	line-height:24px;
	padding-top:12px;
	text-align:left;
}
.stDouble {
	padding-top:0px;
	padding-bottom:16px;
}
.scheduleHilight {
	color:#b6afad;
}
#scheduleNote {
	padding:10px 0px 0px 22px;
	color:#444444;
	font-size:14px;
	line-height:22px;
	clear:left;
	text-align:left;
}
#watchAllLiveBox {
	margin-left:26px;
	position:relative;
	width:884px;
	height:435px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/watchalllive_box.jpg');
	background-repeat:no-repeat;
	-webkit-box-shadow: 2px 4px 16px rgba(0, 0, 0, 1);
	-moz-box-shadow:    2px 4px 16px rgba(0, 0, 0, 1);
	box-shadow:         2px 4px 16px rgba(0, 0, 0, 1);
}
#otherWaysBox {
	margin-left:26px;
	position:relative;
	width:884px;
	height:1043px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/otherways_box.jpg');
	background-repeat:no-repeat;
	-webkit-box-shadow: 2px 4px 16px rgba(0, 0, 0, 1);
	-moz-box-shadow:    2px 4px 16px rgba(0, 0, 0, 1);
	box-shadow:         2px 4px 16px rgba(0, 0, 0, 1);
}
.otherWaysIMG {
	position:absolute;
	left:30px;
	width:392px;
	height:200px;
	-webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 1);
	-moz-box-shadow:    2px 4px 8px rgba(0, 0, 0, 1);
	box-shadow:         2px 4px 8px rgba(0, 0, 0, 1);
}
.otherWaysTxt {
	position:absolute;
	left:450px;
	width:398px;
	padding-top:9px;
	font-size:14px;
	line-height:20px;
	color:#6f6f6f;
	text-align:left;
}
.owInPerson {
	top:92px;
}
.owPubstomps {
	top:333px;
}
.owTwitch {
	top:573px;
}
.owNoSpoilers {
	top:814px;
}
.owTxtTitle,#waglTitle {
	font-weight:bold;
	color:#cacaca;
	font-size:18px;
	padding-bottom:4px;
}
#waglTitle {
	padding-bottom:16px;
}
#waglTxt {
	position:absolute;
	top:125px;
	left:451px;
	width:406px;
	text-align:left;
}
.waglBullet {
	float:left;
	padding-top:8px;
	padding-right:8px;
	clear:left;
	width:7px;
	height:6px;
}
.waglBulletTxt {
	float:left;
	width:380px;
	color:#959595;
	font-size:14px;
	line-height:20px;
	padding-bottom:16px;
}
#advanceScreeningBox {
	margin-left:26px;
	position:relative;
	width:884px;
	height:435px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/ftp_box.jpg');
	background-repeat:no-repeat;
	-webkit-box-shadow: 2px 4px 16px rgba(0, 0, 0, 1);
	-moz-box-shadow:    2px 4px 16px rgba(0, 0, 0, 1);
	box-shadow:         2px 4px 16px rgba(0, 0, 0, 1);
}
#ftpCover {
	position:absolute;
	top:96px;
	left:60px;
	width:233px;
	height:295px;
	-webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 1);
	-moz-box-shadow:    2px 4px 8px rgba(0, 0, 0, 1);
	box-shadow:         2px 4px 8px rgba(0, 0, 0, 1);
}
#ftpTxt {
	position:absolute;
	top:119px;
	left:318px;
	width:520px;
	color:#cacaca;
	font-size:14px;
	line-height:22px;
	text-align:left;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}
#ftpTitle {
	font-weight:bold;
	color:#cacaca;
	font-size:22px;
	padding-bottom:2px;
}
#ftpBlurb {
	position:absolute;
	top:375px;
	left:318px;
	font-size:14px;
	line-height:20px;
	text-align:left;
	color:#404040;
}	
#otherFeaturesBox {
	margin-left:26px;
	position:relative;
	width:884px;
	height:1550px;
	-webkit-box-shadow: 2px 4px 16px rgba(0, 0, 0, 1);
	-moz-box-shadow:    2px 4px 16px rgba(0, 0, 0, 1);
	box-shadow:         2px 4px 16px rgba(0, 0, 0, 1);
}
#ofboxTopBG {
	display:block;
	z-index:10;
	position:absolute;
	top:0px;
	left:0px;
	height:775px;
	width:884px;
}
#ofboxBottomBG {
	display:block;
	z-index:10;
	position:absolute;
	top:775px;
	left:0px;
	height:775px;
	width:884px;
}
.otherFeaturesTxt {
	position:absolute;
	width:393px;
	font-size:14px;
	line-height:20px;
	color:#6f6f6f;
	text-align:left;
	z-index:20;
}
.oftRightSide {
	left:450px;
	text-align:left;
}
.oftLeftSide {
	text-align:right;
	right:451px;
}
.otherFeaturesTitle {
	font-weight:bold;
	color:#cacaca;
	font-size:18px;
	padding-bottom:4px;
}
#oftAutographs {
	top:166px;
}
#oftSpecialDrops {
	top:476px;
}
#oftWorkshopSessions {
	top:762px;
}
#oftVoiceActor {
	top:1041px;
}
#oftMerchandise {
	top:1314px;
}
#teamListHolder {
	padding:10px 25px 30px 25px;
}
.teamListItem {
	float:left;
	display:block;
	background-position:bottom;
	margin-right:6px;
	margin-bottom:9px;
	width:204px;
	height:174px;
}
.teamListItem:hover {
	background-position:top;
}
.bsbAllstarSide {
	width:661px;
	height:13px;
	padding:10px 0 15px 0;
	margin:0 auto;
}
.bsbAllstarHolder {
	width:700px;
	height:164px;
	margin:0 auto;
	padding-bottom:25px;
}
.allstarImage {
	width:140px;
	height:164px;
	float:left;
}
.bsbSoloHolder {
	width:560px;
	height:398px;
	margin:0 auto;
}
.soloChampImage {
	float:left;
	width:140px;
	height:164px;
	padding:10px 0 25px 0px;
}
.bigSingleBox {
	margin-left:26px;
	position:relative;
	width:884px;
	-webkit-box-shadow: 2px 4px 16px rgba(0, 0, 0, 1);
	-moz-box-shadow:    2px 4px 16px rgba(0, 0, 0, 1);
	box-shadow:         2px 4px 16px rgba(0, 0, 0, 1);
}
.bigSingleBoxTop,.bigSingleBoxBottom {
	margin:0;
	padding:0;
	width:884px;
	height:18px;
}
.bigSingleBoxBody {
	margin:0;
	padding:0;
	width:884px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/bigsingleboxbg.jpg');
	background-position:top center;
	background-repeat:repeat-y;
}
.bsbSectionTitle {
	margin:0 auto;
	width:844px;
	height:49px;
	padding-bottom:9px;
}
.bsbContent {
	padding:20px 96px 45px 92px;
	font-size:14px;
	color:#6f6f6f;
	line-height:22px;
	text-align:left;
}
.bsbContent p {
	padding:11px 0px;
}
.bsbContent ul {
	list-style-type:none;
	padding:0px;
	margin:0px;
	padding-bottom:4px;
}
.bsbContent ul li {
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/bsb_bullet.jpg');
	background-repeat:no-repeat;
	background-position:0px 8px; 
	padding-left:14px; 
}
.bsbContent h2 {
	font-size:18px;
	font-weight:normal;
	color:#adadad;
	margin:0;
	padding:8px 0 2px 0;
}
#scheduleDayLinks {
	padding:4px 0px 16px 0px;
	font-size:14px;
	color:#666666;
}
#scheduleDayLinks .activeDay {
	color:#ffffff;
}
#scheduleDayLinks a,#scheduleDayLinks a:hover,#scheduleDayLinks a:active,#scheduleDayLinks a:visited {
	color:#999999;
	text-decoration:none;
}
#scheduleDayLinks a:hover {
	color:#ffffff;
}
.hoverNote {
	padding-bottom:5px;
}
#hilightDays {
	font-size:12px;
	color:#666666;
}
.hDay {
	color:#999999;
	cursor:pointer;
}
.hDay:hover {
	color:#ffffff;
}
.hDayOn {
	color:#ffffff;
}
#hilightDaysHolder {
	background-color:rgba(0,0,0,0.3);
	padding:15px;
	font-size:12px;
	width:445px;
	margin:0 auto 10px auto;
}

.scheduleBox {
	margin:0 auto;
	width:890px;
	position:relative;
	padding-top:40px;
	padding-bottom:12px;
	background-repeat:repeat-y;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/schedule_bg.png');
}
.scheduleGameRowCasters {
	background-color:rgba(0,0,0,0.2);
	width:822px;
	padding:2px 2px 2px 22px;
	margin:-4px auto 4px auto;
	text-align:left;
	font-size:12px;
	color:#555555;
}
.scheduleGameRowCasters span {
	color:#777777;
}
.scheduleHeader {
	position:absolute;
	top:-7px;
	left:0px;
	height:45px;
	width:890px;
	background-repeat:no-repeat;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/schedule_headerbar.png');
	color:#4d4c4b;
	font-size:14px;
}
.scheduleHeaderInline {
	position:relative;
	top:auto;
	left:auto;
}
.scheduleHeader .teams {
	position:absolute;
	width:440px;
	text-align:center;
	left:22px;
	top:16px;
}
.scheduleHeader .gameName {
	position:absolute;
	left:501px;
	text-align:center;
	width:150px;
	top:16px;
}
.scheduleHeader .matchPage {
	position:absolute;
	left:651px;
	width:130px;
	top:16px;
}
.scheduleHeader .winner {
	position:absolute;
	left:781px;
	width:99px;
	top:16px;
}
.scheduleTeamNameTBD {
	font-style:italic;
	color:#666666;
	font-size:12px;
}
.scheduleBoxFooter {
	width:890px;
	position:absolute;
	bottom:-1px;
	left:0px;
	height:1px;
	background-repeat:no-repeat;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/schedule_bottom.png');
}
#tieBreakerGameHeader {
	color:#666666;
	font-size:24px;
	padding:20px 0px 10px 0px;
}
.scheduleGameRow,.scheduleGameRowB {
	height:34px;
	width:890px;
	margin-bottom:4px;
	clear:left;
}
.scheduleGameRowB {
	background-repeat:repeat-y;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/schedule_bg2.png');
}
.sgrTeamAImg,.sgrTeamAName,.sgrTeamVs,.sgrTeamBImg,.sgrTeamBName,.sgrGameName,.sgrMatch,.sgrWinner {
	float:left;
}
.sgrMatch {
	width:130px;
	font-size:12px;
	color:#999999;
	padding-top:10px;
}
.sgrWinner {
	width:99px;
	font-size:12px;
	padding-top:10px;
	color:#ffffff;
	font-weight:bold;
}
.sgrWinner a,.sgrWinner a:hover,.sgrWinner a:active,.sgrWinner a:visited,.sgrMatch a,.sgrMatch a:visited,.sgrMatch a:active,.sgrMatch a:hover {
	color:#cccccc;
	font-weight:normal;
	text-decoration:none;
}
.sgrWinner a:hover,.sgrMatch a:hover {
	color:#ffffff;
}
.sgrGameName {
	padding-left:10px;
	width:140px;
	font-size:12px;
	color:#999999;
	padding-top:10px;
}
.sgrTeamAImg {
	padding-left:22px;
	width:57px;
}
.sgrTeamAName,.sgrTeamBName {
	padding-left:10px;
	width:145px;
	font-size:14px;
	color:#ffffff;
	text-align:left;
	padding-top:8px;
	overflow:hidden;
}
.sgrTeamVs {
	width:37px;
	font-size:14px;
	padding-top:10px;
	color:#999999;
}
.sgrTeamBImg {
	padding-left:18px;
	width:57px;
}
.sgrDoubleLine {
	padding-top:0px;
}
a.inProgLink,a.inProgLink:hover,a.inProgLink:visited,a.inProgLink:active {
	color:#ffaa00;
	font-weight:bold;
	text-decoration:none;
}
a.inProgLink:hover {
	color:#ffffff;
}
.resultsBox {
	border:solid #33383e 1px;
	float:left;
	position:relative;
	margin-left:80px;
	width:300px;
	min-height:400px;
	padding-top:35px;
	background-repeat:repeat;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/resultsbox_bg.png');
	-moz-box-shadow:    0px 0px 20px 0px #000;
	-webkit-box-shadow: 0px 0px 20px 0px #000;
	box-shadow:         0px 0px 20px 0px #000;
}
.resultsBoxHeader {
	position:absolute;
	top:-5px;
	left:-1px;
	height:30px;
	width:300px;
	border:solid #33383e 1px;
	background-color:#151618;
	-moz-box-shadow:    0px 0px 20px 0px #000;
	-webkit-box-shadow: 0px 0px 20px 0px #000;
	box-shadow:         0px 0px 20px 0px #000;
	text-align:left;
	color:#666666;
	font-size:14px;
}
.rbhGroup {
	float:left;
	width:130px;
	padding:6px 0px 0px 20px;
}
.rbhWins {
	float:left;
	text-align:right;
	width:75px;
	padding-left:10px;
	padding-top:6px;
}
.rbhLosses {
	float:left;
	width:55px;
	padding-right:10px;
	text-align:right;
	padding-top:6px;
}
.resultsBoxRow {
	width:288px;
	padding-left:12px;
	height:41px;
	margin-top:10px;
	clear:left;
}
.rbrLogo {
	float:left;
	width:69px;
	height:41px;
	padding-right:12px;
}
.rbrName {
	float:left;
	width:100px;
	padding-top:10px;
	font-size:16px;
	color:#ffffff;
	text-align:left;
}
.rbrWins,.rbrLosses {
	float:left;
	padding-top:10px;
	width:34px;
	font-size:18px;
	color:#999999;
	text-align:center;
	padding-left:10px;
}
.rbrLosses {
	padding-left:14px;
}
#winnerBracketHolder {
    position:relative;
    width:590px;
	height:830px;
	margin:0 auto;
	padding-bottom:20px;
	background-repeat:no-repeat;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/bracket_upper.png');
}
#wbOffsetFixer {
	position:absolute;
	width:504px;
	height:762px;
	top:68px;
	left:86px;
}
#bsoDay1,#bsoDay2,#bsoDay3,#bsoDay4,#bsoDay5 {
	position:absolute;
	top:0px;
	left:0px;
	z-index:500;
}
#loserBracketHolder {
	width:894px;
	height:1038px;
	margin:0 auto;
	padding-bottom:70px;
	position:relative;
	background-repeat:no-repeat;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/bracket_lower.png');
}
#lbOffsetFixer {
	position:absolute;
	width:887px;
	height:971px;
	top:68px;
	left:7px;
}

.halfDoubleBox {
	margin-left:26px;
	float:left;
	position:relative;
	width:434px;
	-webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 1);
	-moz-box-shadow:    2px 4px 8px rgba(0, 0, 0, 1);
	box-shadow:         2px 4px 8px rgba(0, 0, 0, 1);
}
#tagboardHalf {
	margin-left:17px;
}
.bigSingleBoxTop,.bigSingleBoxBottom {
	margin:0;
	padding:0;
	width:434px;
	height:18px;
}
.halfDoubleBoxBody {
	margin:0;
	padding:0;
	width:434px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/halfdoubleboxbg.jpg');
	background-position:top center;
	background-repeat:repeat-y;
}
.hdbSectionTitle {
	margin:0 auto;
	width:395px;
	height:49px;
	padding-bottom:9px;
}
.bsbContent {
	padding:20px 96px 45px 92px;
	font-size:14px;
	color:#6f6f6f;
	line-height:22px;
	text-align:left;
}
#tagboard-embed {
	width:395px;
	margin:0 auto;
}
.mediaLinks {
	display:block;
	margin:0 auto;
	font-size:14px;
}
#nbfContent {
	padding:10px 20px 10px 28px;
	min-height:1500px;
	font-size:14px;
	line-height:20px;
	color:#6f6f6f;
	text-align:left;
}
#nbfContent .postTitle {
	display:block;
	color:#d4d8d7;
	font-size:21px;
	padding-bottom:2px;
}
#nbfContent .postTitle:hover {
	color:#ffffff;
}
#nbfContent .postDate {
	padding-bottom:8px;
}
#nbfContent .postBreak {
	height:1px;
	border-bottom:solid #444343 1px;
	margin:16px 0px;
}
#nbfNoStories {
	text-align:center;
}
.bracketNote {
	padding:5px;
	font-size:14px;
}
.watchQuad {
	float:left;
	width:392px;
	padding-top:24px;
}
.wqLeft {
	margin-left:34px;
	margin-right:16px;
}
.wqRight {
	margin-left:16px;
}
.wqBanner {
	width:392px;
	height:200px;
	margin:0 auto;
	-webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 1);
	-moz-box-shadow:    2px 4px 8px rgba(0, 0, 0, 1);
	box-shadow:         2px 4px 8px rgba(0, 0, 0, 1);
}
.wqText {
	text-align:left;
	padding-top:15px;
	padding-left:3px;
	font-size:14px;
	line-height:22px;
}
.wqText h2 {
	font-weight:normal;
	font-size:16px;
	color:#cacaca;
	margin:0;
	padding:0;
	padding-bottom:5px;
}
#noLiveGamesBox {
	width:350px;
	margin:auto;
	padding:16px;
	background-color:rgba(0,0,0,0.3);
	font-size:18px;
	font-weight:bold;
	color:#adadad;
}
#bsbWatchLiveOpts {
	padding-top:10px;
}
.liveGameBlock {
	width:893px;
	height:249px;
	position:relative;
	margin:15px 0px 15px 21px;
	background-repeat:no-repeat;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/livegame_bg.png');
}
.lgbTitle,.rgbTitle {
	position:absolute;
	top:21px;
	letter-spacing:2px;
	font-size:14px;
	color:#80dfaa;
	width:893px;
	left:0px;
	text-align:center;
}
.lgbTeamAImg,.lgbTeamBImg {
	position:absolute;
	width:139px;
	height:83px;
	top:59px;
}
.lgbTeamAImg {
	left:26px;
}
.lgbTeamBImg {
	right:26px;
}
.lgbTeamAName,.lgbTeamBName {
	position:absolute;
	top:76px;
	width:210px;
	font-size:18px;
	color:#cacaca;
}
.lgbTeamAName,.lgbRadiant,.rgbTeamAName,.rgbRadiant {
	left:177px;
	text-align:left;
}	
.lgbTeamBName,.lgbDire,.rgbTeamBName,.rgbDire {
	right:177px;
	text-align:right;
}	
.lgbVs {
	position:absolute;
	left:387px;
	top:76px;
	width:119px;
	text-align:center;
	color:#666666;
	font-size:14px;
}
.lgbRadiant,.lgbDire {
	position:absolute;
	top:105px;
	font-size:14px;
}
.lgbLowerTitles {
	position:absolute;
	color:#80dfaa;
	font-size:14px;
	top:174px;
}
.lgbSeeScores {
	text-align:right;
	right:30px;
}
.lgbLiveStreams {
	text-align:left;
	left:30px;
}
.lgbScoreLinkHolder {
	position:absolute;
	top:202px;
	right:30px;
	text-align:right;
}
#watchLiveScoreboardLinkHolder {
	float:right;
	padding-right:30px;
}
.lbgClientLobbyLink {
	position:absolute;
	width:160px;
	top:126px;
	left:395px;
}
.lgbCasterLinkHolder {
	position:absolute;
	top:202px;
	left:30px;
	text-align:left;
}
a.lgbScoreLink,a.lgbScoreLink:active,a.lgbScoreLink:hover,a.lgbScoreLink:visited {
	display:block;
	float:right;
	font-size:14px;
	color:#999999;
	text-decoration:none;
	padding-left:8px;
}
a.lgbScoreLink:hover {
	color:#ffffff;
}
.lgbCasterLinkIcon {
	float:left;
	padding-right:8px;
}
a.lgbCasterLink,a.lgbCasterLink:active,a.lgbCasterLink:hover,a.lgbCasterLink:visited {
	display:block;
	float:left;
	font-size:14px;
	color:#999999;
	text-decoration:none;
	padding-right:20px;
}
a.lgbCasterLink:hover {
	color:#ffffff;
}
.radiantColor {
	color:#598307;
}
.direColor {
	color:#a83806;
}
#matchBestOfLinks {
	font-size:14px;
	padding-bottom:8px;
	color:#666666;
}
.mediaBoxTop,.resultsPageBoxTop {
	position:absolute;
	width:893px;
	height:66px;
	top:-66px;
	left:0px;
	padding:0;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2012/mediabox_top.png');
}
.resultsPageBoxTop {
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2012/resultspagebox_top.png');
}
.resultsPageBoxContent {
	width:893px;
	margin:66px 0px 17px 21px;
	position:relative;
	background-repeat:repeat-y;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/mediabox_bg.png');
	font-size:14px;
	color:#666666;
	line-height:20px;
}
.resultsPageBoxContentBottom {
	position:absolute;
	width:893px;
	height:17px;
	bottom:-17px;
	left:0px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/resultspagebox_content_bottom.png');
}
.resultsPageBoxBottom {
	position:relative;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/resultspagebox_bottom_bg.png');
	background-repeat:repeat-y;
	width:893px;
	margin:17px 0px 28px 21px;
	padding-top:10px;
	text-align:left;
}
.resultsPageBoxBottomBottom {
	position:absolute;
	width:893px;
	height:18px;
	bottom:-18px;
	left:0px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/resultspagebox_bottom_bottom.png');
}
#rpbViewScoresLink {
	float:right;
	padding-right:30px;
	text-align:left;
/*	width:260px;*/
}
#replayLinkHolder {
	padding:35px 0px 10px 0px;
}
#replayLinkHolder2 {
	padding:5px 0px 30px 0px;
}
#movieHolder {
	padding:16px 0px 10px 0px;
}
#streamOptions {
	float:left;
	padding-top:10px;
	margin-bottom:20px;
	margin-left:28px;
	text-align:left;
	font-size:14px;
	color:#666666;
	line-height:20px;
}
#rpbNoCastVods {
	padding:30px 0px;
}
#castVodList {
	width:300px;
	margin-left:350px;
	padding-bottom:20px;
}
.castVodListCaster {
	clear:left;
	margin-bottom:10px;
}
#castVodListTitle {
	color:#bfd4ff;
	letter-spacing:2px;
	margin:0;
	padding:4px 0px 8px 0px;
}
.rpbTeamAImg,.rpbTeamBImg {
	position:absolute;
/*
	width:139px;
	height:83px;
*/
	top:14px;
}
.rpbTeamAImg {
	left:26px;
}
.rpbTeamBImg {
	right:26px;
}
.rpbTeamAName,.rpbTeamBName {
	position:absolute;
	top:24px;
	width:210px;
	font-size:18px;
	color:#999999;
}
.rpbTeamAName,.rpbRadiant {
	left:107px;
	text-align:left;
}	
.rpbTeamBName,.rpbDire {
	right:107px;
	text-align:right;
}
.rpbVs {
	position:absolute;
	left:387px;
	top:6px;
	width:119px;
	text-align:center;
	color:#666666;
	font-size:14px;
}
.rpbRadiant,.rpbDire {
	position:absolute;
	top:12px;
	font-size:12px;
}
#teamLineup {
	text-align:center;
	letter-spacing:4px;
	color:#999999;
	font-size:14px;
}
.hcTeamName {
	font-size:22px;
	color:#999999;
	padding-bottom:12px;
	margin-bottom:12px;
	margin-right:16px;
	border-bottom:solid #333333 1px;
}	
.hcTeamNameSidegood,.hcTeamNameSidebad {
	font-size:14px;
	padding-left:10px;
}
.hcTeamNameSidegood {
	color:#598307;
}	
.hcTeamNameSidebad {
	color:#a83806;
}
.leadadjust {
	line-height:22px;
}
.mediaBoxHeader,.resultsPageBoxHeader {
	position:absolute;
	width:893px;
	left:0px;
	top:22px;
	text-align:center;
	letter-spacing:4px;
	color:#999999;
	font-size:14px;
}
.resultsPageBoxHeader {
	top:25px;
}
.resultsPageBoxHeader {
	color: #BFD4FF;
	letter-spacing:2px;
}


/* ---------- hero list for results page stuff ---------------- */
.heroColumn {
	float:left;
	width:370px;
	text-align:left;
}
#goodColumn {
	padding-left:28px;
}
#badColumn {
	padding-left:112px;
}
.heroColBlock {
	width:370px;
	padding-top:150px;
	position:relative;
	padding-bottom:10px;
/*	border-bottom:solid #363838 1px;*/
	margin-bottom:10px;
	text-align:left;
	color:#555555;
	font-size:12px;
}
.heroBlurb {
	margin:0;
	padding:0px 7px 0px 0px;
	line-height:16px;
}

.slotName {
	position:absolute;
	top:0px;
	left:0px;
	font-size:18px;
/*	font-weight:bold;*/
}
.slotImage {
	position:absolute;
	top:22px;
	left:0px;
	width:205px;
	height:115px;
}
.slotHName {
	position:absolute;
	top:22px;
	left:222px;
	font-size:16px;
	color:#999999;
}
.slotPAspect {
	position:absolute;
	top:48px;
	left:222px;
	font-size:12px;
	font-weight:bold;
	color:#c9c9c9;
}
.slotIcon {
	position:absolute;
	left:222px;
	width:32px;
	height:16px;
}
.strIcon {
	top:68px;
}
.agiIcon {
	top:91px;
}
.intIcon {
	top:114px;
}
.slotAttr {
	position:absolute;
	left:260px;
	font-size:11px;
	font-weight:bold;
	color:#555555;
}
.strVals {
	top:69px;
}
.agiVals {
	top:92px;
}
.intVals {
	top:115px;
}
.valPri {
	color:#c9c9c9;
}
.heroColTeamName {
	font-size:32px;
	color:#a7a29f;
	margin-bottom:29px;
}
.teamNameRD {
	font-size:12px;
}
.nameR {
	color:#598307;
}
.nameD {
	color:#a83806;
}
.goodHero1 {
	border:solid #4064ff 1px;
}
.goodColor1 {
	color:#4064ff;
}	
.goodHero2 {
	border:solid #40de8e 1px;
}
.goodColor2 {
	color:#40de8e;
}	
.goodHero3 {
	border:solid #9008b9 1px;
}
.goodColor3 {
	color:#9008b9;
}	
.goodHero4 {
	border:solid #f3f00b 1px;
}
.goodColor4 {
	color:#f3f00b;
}	
.goodHero5 {
	border:solid #ff6b00 1px;
}
.goodColor5 {
	color:#ff6b00;
}	
.badHero1 {
	border:solid #fe86c5 1px;
}
.badColor1 {
	color:#fe86c5;
}
.badHero2 {
	border:solid #b3b5bf 1px;
}
.badColor2{
	color:#b3b5bf;
}
.badHero3 {
	border:solid #65d9f7 1px;
}
.badColor3 {
	color:#65d9f7;
}
.badHero4 {
	border:solid #60f30b 1px;
}
.badColor4 {
	color:#60f30b;
}
.badHero5 {
	border:solid #784d00 1px;
}
.badColor5 {
	color:#784d00;
}

/* ------------- end hero list results page stuff ----------- */
#watchLiveGameButton {
	display:block;
	position:absolute;
	z-index:1000;
	width:298px;
	height:94px;
	bottom:76px;
	right:20px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/button_watchlive.png');
	background-position:top;
}
#watchLiveGameButton:hover {
	background-position:bottom;
}
#fantasyTeamsButton {
	display:block;
	position:absolute;
	z-index:9999;
	width:216px;
	height:40px;
	top:15px;
	right:20px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/fantasy_button.png');
	background-position:bottom;
}
#fantasyTeamsButton:hover {
	background-position:top;
}
#teamBoxContent h2 {
	font-weight:normal;
	letter-spacing:4px;
	margin:0;
	padding:0px 0px 10px 0px;
	color:#999999;
	font-size:14px;
}
#teamBoxContent p {
	padding:0;
	margin:0;
	margin-bottom:10px;
	color:#666666;
	font-size:14px;
	line-height:20px;
}
#teamBoxContent {
	margin:6px auto;
	position:relative;
	width:749px;
	padding:20px 27px;
	background-repeat:repeat-y;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/team_box_bg.png');
	text-align:left;
}
#teamListBox {
	margin:0 auto;
	padding:20px 0px;
	width:848px;
}
.teamListIMG {
	padding-top:24px;
}
.teamListName {
	padding:5px;
	font-size:16px;
	color:#dcdcdc;
}
a.teamListLink,a.teamListLink:hover,a.teamListLink:visited,a.teamListLink:active {
	text-decoration:none;
	color:#dcdcdc;
}
#teamBoxTop,#teamBoxBottom {
	width:803px;
	height:6px;
	position:absolute;
	left:0px;
}
#teamBoxTop {
	top:-6px;
}
#teamBoxBottom {
	bottom:-6px;
}
#teamBoxLeft {
	float:left;
	width:398px;
	padding-right:32px;
}
#teamBoxRight {
	float:left;
	padding-left:27px;
	width:290px;
}
#teamBoxLeft h1 {
	color:#dddddd;
	font-size:26px;
	margin:0;
	padding:12px 0px 6px 0px;
	font-weight:normal;
}
.countryIMG {
	width:16px;
	height:11px;
	margin-right:6px;
}
.teamListCountry,#teamCountry {
	padding-top:8px;
	font-size:12px;
	color:#666666;
}
.memberCountry {
	padding-top:8px;
	font-family:arial,helvetica,sans-serif;
	font-size:12px;
	color:#666666;
}
.teamListHolder {
	float:left;
	width:212px;
	height:207px;
	text-align:center;
}
#teamLinks {
	font-size:10px;
	line-height:18px;
}
#teamLinks a {
	color:#dddddd;
}
.teamListHolder:hover {
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2012/teams_list_hilight.png');
}
.teamMemberHolder {
	/*background-color:#0f1215;*/
	margin-bottom:4px;
}
.teamMemberText {
	float:right;
	width:180px;
	text-align:left;
	font-size:16px;
	padding-top:9px;
	line-height:24px;
}
.memberName {
	color:#666666;
}
.memberNick {
	color:#adadad;
}
#liveTeams {
	padding:10px 0px;
	font-size:18px;
	line-height:22px;
}
#liveTeams span {
	font-size:14px;
}
#watchNowMEBlurb {
	margin:0;
	padding:10px 80px 50px 80px;
	color:#ababab;
	font-size:14px;
	line-height:20px;
}
#spectateLinkHolder {
	font-size:14px;
	text-transform:uppercase;
}
#camLinks {
	padding:20px 0px 20px 350px;
	text-align:left;
	font-size:14px;
	line-height:20px;
}
#streamPopoutsClient {
	padding:20px 0px;
	font-size:14px;
	line-height:20px;
	color:#666666;
}
/* -------- bracket style stuff -------------- */

.positionBlock {
    position:absolute;
    width:108px;
    height:50px;
    z-index:510;
}
.gameBlockTeamName {
	position:absolute;
	overflow:hidden;
	border:solid #3a3f49 1px;
	background-color:#282b32;
	font-family:arial,helvetica,sans-serif;
	color:#cccccc;
	font-size:10px;
	text-align:center;
	height:15px;
	padding-top:3px;
	width:106px;
	bottom:-12px;
	z-index:510;
	-moz-box-shadow:    0px 0px 3px 1px #000000;
	-webkit-box-shadow: 0px 0px 3px 1px #000000;
	box-shadow:         0px 0px 3px 1px #000000;
}
.gameBlockTeamLogo {
	display:block;
	width:69px;
	height:41px;
	padding-top:1px;
	padding-left:19px;
	padding-right:18px;
	background-color:#0f1215;
	margin-left:1px;
/*	margin-left:20px;*/
	margin-top:1px;
}
.moneyCallout {
	position:absolute;
	top:64px;
	left:-12px;
	font-size:12px;
	color:#347d2c;
	width:130px;
	text-align:center;
	font-family:arial,helvetica,sans-serif;

}
.positionBlock .subTag {
	z-index:520;
	position:absolute;
	border:solid #3a3f49 1px;
	background-color:#666666;
	font-family:arial,helvetica,sans-serif;
	color:#cccccc;
	font-size:10px;
	text-align:center;
	height:15px;
	padding-top:3px;
	width:106px;
	bottom:-12px;
	-moz-box-shadow:    0px 0px 3px 1px #000000;
	-webkit-box-shadow: 0px 0px 3px 1px #000000;
	box-shadow:         0px 0px 3px 1px #000000;
}
.positionBlock .gameLive {
	background-color:#28698F;
}
.positionBlock .viewMatchLink,.positionBlock .viewLiveLink {
	font-size:10px;
	z-index:106;
}
.positionBlock .viewLiveLink {
}
.viewLiveBlockOn {
}
.positionBlock .viewMatchLink a,.positionBlock .viewMatchLink a:hover,.positionBlock .viewMatchLink a:visited,.positionBlock .viewMatchLink a:focus,.positionBlock .viewMatchLink a:active
.positionBlock .viewLiveLink a,.positionBlock .viewLiveLink a:hover,.positionBlock .viewLiveLink a:visited,.positionBlock .viewLiveLink a:focus,.positionBlock .viewLiveLink a:active {
	color:#ffffff;
	text-decoration:none;
}

/* -------- /end bracket style stuff -------------- */

.mediaBoxContent {
	width:893px;
	margin:84px 0px 94px 18px;
	position:relative;
	background-repeat:repeat-y;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2012/mediabox_bg.png');
}
#finalsInfo {
	font-size:14px;
	line-height:20px;
	color:#666666;
	margin:0;
	padding:15px 100px;
}

#finalsBlock {
	position:relative;
	width:780px;
	height:430px;
	margin-left:50px;
}
.finalsTeamBlock {
	width:340px;
	height:84px;
	position:absolute;
	top:0px;
	left:0px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2012/finals_block.png');
	background-repeat:no-repeat;
	background-color:transparent;
}
.teamBlockB {
	left:438px;
}
#finalsBlock1 {
	top:0px;
}
#finalsBlock2 {
	top:84px;
}
#finalsBlock3 {
	top:168px;
}
#finalsBlock4 {
	top:252px;
}
#finalsBlock5 {
	top:336px;
}
.finalsGameBlock {
	margin:0 auto;
	width:96px;
	padding-top:26px;
	height:60px;
	text-align:center;
	font-size:14px;
	color:#666666;
	
}
.finalsGameBlock span {
	color:#4d4c4b;
}

.mediaBoxBottom {
	position:absolute;
	width:893px;
	height:74px;
	bottom:-74px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2012/mediabox_bottom.png');
}
.mediaBoxFooter {
	position:absolute;
	width:893px;
	left:0px;
	top:32px;
	text-align:center;
	letter-spacing:1px;
	color:#666666;
	font-size:14px;
}
.resultsBlockText {
	z-index:200;
	position:absolute;
	text-align:center;
	width:144px;
	top:11px;
	left:120px;
	padding-top:20px;
	color:#666666;
	font-size:22px;
	overflow:hidden;
}
.teamPopulated {
	color:#999999;
}
.blockResult {
	z-index:200;
	width:64px;
	height:54px;
	padding-top:10px;
	left:267px;
	top:11px;
	position:absolute;
	font-size:36px;
	color:#bcccda;
}
.finalsTeamBlockImg {
	position:absolute;
	top:12px;
	left:12px;
	width:100px;
	height:60px;
}
a#champCrowned,a#champCrowned:hover,a#champCrowned:active,a#champCrowned:visited {
	display:block;
	letter-spacing:2px;
	font-size:16px;
	padding:20px 0px;
	color:#999999;
	text-decoration:none;
}
a#champCrowned:hover {
	color:#ffffff;
}

/* ----------------------------------------- */

#grandPrizeBox {
	position:relative;
	width:875px;
	height:1175px;
	background-repeat:no-repeat;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2012/grandprizebox.jpg');
	margin-left:21px;
	-moz-box-shadow:    0px 0px 6px 4px #000000;
	-webkit-box-shadow: 0px 0px 6px 4px #000000;
	box-shadow:         0px 0px 6px 4px #000000;
}
#grandPrize {
	padding:5px 0px;
	font-size:64px;
	font-weight:bold;
	color:#cacaca;
	letter-spacing:6px;
}
#grandPrizeSubtext {
	font-size:24px;
	letter-spacing:4px;
}
#winnersIMG {
	padding:20px 0px 30px 0px;
}
#winningTeamGroupIMGLink {
	display:block;
	padding:20px 0px;
}
#winningTeamGroupIMGLinkIMG {
	width:808px;
	height:547px;
	margin:0 auto;
	border:solid #505050 1px;
	-webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 1);
	-moz-box-shadow:    2px 4px 8px rgba(0, 0, 0, 1);
	box-shadow:         2px 4px 8px rgba(0, 0, 0, 1);
}	
#winningTeamLogo {
}
#winningTeamLogoLink {
	display:block;
	width:245px;
	height:147px;
	margin:0 auto;
	border:solid #505050 1px;
	-webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 1);
	-moz-box-shadow:    2px 4px 8px rgba(0, 0, 0, 1);
	box-shadow:         2px 4px 8px rgba(0, 0, 0, 1);
	
}
#winningTeamLogoName {
	padding-top:18px;
	font-size:28px;
	color:#ffffff;
}
#winningTeamMembers,#ruTeamMembers {
	padding-top:16px;
	font-size:14px;
	line-height:24px;
	font-weight:normal;
	color:#666666;
}
#gfLink {
	padding:40px 0px 20px 0px;
	font-size:18px;
}
#gfLink a,#gfLink a:hover,#gfLink a:visited,#gfLink a:active,#brackLinks a,#brackLinks a:hover,#brackLinks a:visited,#brackLinks a:active {
}
#gfLink a:hover,#brackLinks a:hover {
}
#brackLinks {
	padding-top:15px;
	padding-bottom:15px;
	line-height:24px;
}
#runnersUpBox {
	position:relative;
	width:874px;
	height:1029px;
	margin-left:22px;
	background-repeat:no-repeat;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/international2013/runnersupbox.png');
}
#ruPrize {
	padding:25px 0px 5px 0px;
	font-size:52px;
	font-weight:bold;
	color:#cacaca;
	letter-spacing:6px;
}
#ruPrizeSubtext {
	font-size:18px;
	letter-spacing:4px;
}
#runnersUpGroupIMGLink {
	position:absolute;
	top:136px;
	left:36px;
	display:block;
	width:491px;
	height:333px;
	border:solid #505050 1px;
	-webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 1);
	-moz-box-shadow:    2px 4px 8px rgba(0, 0, 0, 1);
	box-shadow:         2px 4px 8px rgba(0, 0, 0, 1);
}
#runnersUpTeamLogoLink {
	position:absolute;
	top:136px;
	left:557px;
	width:256px;
	height:154px;
	margin:0 auto;
	border:solid #505050 1px;
	-webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 1);
	-moz-box-shadow:    2px 4px 8px rgba(0, 0, 0, 1);
	box-shadow:         2px 4px 8px rgba(0, 0, 0, 1);
}
#ruTeamData {
	position:absolute;
	left:557px;
	top:310px;
	width:317px;
	height:177px;
	text-align:left;
}
#ruTeamData h1 {
	margin:0;
	padding-bottom:10px;
	color:#ffffff;
	font-size:24px;
	font-weight:normal;
}
#ruTeamMembers {
	text-align:left;
	padding:0;
}
.ruPrize {
	position:absolute;
	width:363px;
	text-align:center;
	top:-40px;
	font-size:32px;
	font-weight:bold;
	color:#999999;
	left:-50px;
	letter-spacing:2px;
}
.ruTeamBlock {
	position:absolute;
	width:263px;
	height:175px;
	text-align:center;
}
.ruTeamBlock h1 {
	margin:0;
	padding-top:10px;
	color:#cacaca;
	font-size:32px;
	font-weight:normal;
}
#rutb3 {
	top:609px;
	left:38px;
}
#rutb4 {
	top:609px;
	left:306px;
}
#rutb5 {
	top:609px;
	left:573px;
}
#rutb6 {
	top:849px;
	left:38px;
}
#rutb7 {
	top:849px;
	left:306px;
}
#rutb8 {
	top:849px;
	left:573px;
}
#revealLink {
	padding:30px 0px;
}
#revealLink a,#revealLink a:hover,#revealLink a:visited,#revealLink a:active {
	font-size:18px;
}







































/* Footer */

.footerLink {
	background-repeat:no-repeat;
	background-position:top;
	height:30px;
}

.footerLink:hover {
	background-position:bottom;
}

#footerBlog {
	background-image:url(http://cdn.dota2.com/apps/dota2/images/international2013/announcement/footer_blog.png);
	width:120px;
	margin-right:30px;
	float:left;
}

#footerForums {
	background-image:url(http://cdn.dota2.com/apps/dota2/images/international2013/announcement/footer_playdota.png);
	width:160px;
	margin-right:30px;
	float:left;
}

#footerSteam{
	background-image:url(http://cdn.dota2.com/apps/dota2/images/international2013/announcement/footer_steam.png);
	width:146px;
	margin-right:30px;
	float:left;
}

#footerFacebook {
	background-image:url(http://cdn.dota2.com/apps/dota2/images/international2013/announcement/footer_facebook.png);
	width:102px;
	margin-right:30px;
	float:left;
}

#footerTwitter {
	background-image:url(http://cdn.dota2.com/apps/dota2/images/international2013/announcement/footer_twitter.png);
	width:92px;
	float:left;
}


#footer {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	height:30px;
	width:740px;
}

#legal {
	font-size:12px;
	color:#555555;
	position:absolute;
	text-align:center;
	width:100%;
	padding-top:60px;
	padding-bottom:60px;
}







