{% load staticfiles %}
<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Marcellus+SC' rel='stylesheet' type='text/css'>
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'dota2.css' %}" rel="stylesheet">
        <link href="{% static 'bootstrap/css/bootstrap-responsive.min.css' %}">
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'dota2.js' %}"></script>
    </head>

    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <span class="logo">
                        <img src="{%static 'images/dota_logo.png' %}" alt="dota">
                        <span>science</span>
                    </span>
                </div>
            </div>
            <div class="navbar-shadow"></div>
        </div>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
<html>
