{% extends "dota2/base.html" %}

{% block content %}

<div class="wrapper">
<div class="row-fluid content">
<form action="/index/" method="post">
    <div class="span6">
    <div class="dire team">
    <h1 class="dota">dire</h1>
    <div>
        <input id="dire_player_0" type="text" class="dire player" data-provide="typeahead" data-source="{{players}}" placeholder="Player" autocomplete="off" />
        <input id="dire_hero_0" type="text" class="dire hero" data-provide="typeahead" data-source="{{heroes}}" placeholder="Hero" autocomplete="off" />
    </div>
    <div>
        <input id="dire_player_1" type="text" class="dire player" data-provide="typeahead" data-source="{{players}}" placeholder="Player" autocomplete="off" />
        <input id="dire_hero_1" type="text" class="dire hero" data-provide="typeahead" data-source="{{heroes}}" placeholder="Hero" autocomplete="off" />
   </div>
   <div>
        <input id="dire_player_2" type="text" class="dire player" data-provide="typeahead" data-source="{{players}}" placeholder="Player" autocomplete="off" />
        <input id="dire_hero_2" type="text" class="dire hero" data-provide="typeahead" data-source="{{heroes}}" placeholder="Hero" autocomplete="off" />
   </div>
   <div>
        <input id="dire_player_3" type="text" class="dire player" data-provide="typeahead" data-source="{{players}}" placeholder="Player" autocomplete="off" />
        <input id="dire_hero_3" type="text" class="dire hero" data-provide="typeahead" data-source="{{heroes}}" placeholder="Hero" autocomplete="off" />
   </div>
   <div>
        <input id="dire_player_4" type="text" class="dire player" data-provide="typeahead" data-source="{{players}}" placeholder="Player" autocoomplete="off" />
        <input id="dire_hero_4" type="text" class="dire hero" data-provide="typeahead" data-source="{{heroes}}" placeholder="Hero" autocomplete="off" />
   </div>
   </div>
   </div>
 
    <div class="span6">
    <div class="radiant team">
    <h1 class="dota">radiant</h1>
    <div>
        <input id="radiant_player_0" type="text" class="radiant player" data-provide="typeahead" data-source="{{players}}" placeholder="Player" autocomplete="off" />
        <input id="radiant_hero_0" type="text" class="radiant hero" data-provide="typeahead" data-source="{{heroes}}" placeholder="Hero" autocomplete="off" />
    </div>
    <div>
        <input id="radiant_player_1" type="text" class="radiant player" data-provide="typeahead" data-source="{{players}}" placeholder="Player" autocomplete="off" />
        <input id="radiant_hero_1" type="text" class="radiant hero" data-provide="typeahead" data-source="{{heroes}}" placeholder="Hero" autocomplete="off" />
   </div>
   <div>
        <input id="radiant_player_2" type="text" class="radiant player" data-provide="typeahead" data-source="{{players}}" placeholder="Player" autocomplete="off" />
        <input id="radiant_hero_2" type="text" class="radiant hero" data-provide="typeahead" data-source="{{heroes}}" placeholder="Hero" autocomplete="off" />
   </div>
   <div>
        <input id="radiant_player_3" type="text" class="radiant player" data-provide="typeahead" data-source="{{players}}" placeholder="Player" autocomplete="off" />
        <input id="radiant_hero_3" type="text" class="radiant hero" data-provide="typeahead" data-source="{{heroes}}" placeholder="Hero" autocomplete="off" />
   </div>
   <div>
        <input id="radiant_player_4" type="text" class="radiant player" data-provide="typeahead" data-source="{{players}}" placeholder="Player" autocomplete="off" />
        <input id="radiant_hero_4" type="text" class="radiant hero" data-provide="typeahead" data-source="{{heroes}}" placeholder="Hero" autocomplete="off" />
   </div>
   </div>
   </div>
</form>
</div>
</div>

{% endblock %}
